body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e8dddd;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #5956e4;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(115, 2, 2, 0.1);
    padding: 20px;
    width: 350px;
}

#display {
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 5px;
    color: rgb(255, 0, 0);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: rgb(255, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffffff;
}